{% extends 'temp/staff_base.html' %}
{% block base %}


<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<h2>activity</h2>
     <table border="2">
	   <tr>
		<th>activity name</th>
		<th>faculty id</th>
           <th>Activity</th>

	   </tr>
         {% for i in aaaaaaa %}
	<tr>
		<td>{{ i.activities_name }}</td>
		<td>{{ i.faculty_id }}</td>
         <td><a href="/static/{{ i.activities }}"><img src="/static/{{ i.activities }}" width="100" height="100"></a></td>
        <td><a href="/activites/delete/{{ i.activities_id}}">DELETE</a> </td>

	</tr>
         {% endfor %}
</table>
</center>
</body>
</html>
{% endblock %}
