<!DOCTYPE html>
<html>
<head>
	<title>activity response</title>
</head>
<body>
<center>
	<h2>activty response</h2>
     <table border="2" class="table table-bordered table-striped">
	   <tr>
		<th>activity name</th>
		<th>student id</th>
           <th>response</th>

		
		
	   </tr>
{% for i in bbbbb %}
         <tr>
		<td>{{ i.activities_name }}</td>
		<td>{{ i.student_id }}</td>
{#         <td>{{ i.activity_response }}</td>#}
          <td><a href="/static/{{ i.activity_response }}"><img src="/static/{{ i.activity_response }}" width="100" height="100"></a></td>
		
	</tr>
         {% endfor %}
	
</table>
</center>
</body>
</html>