{% extends 'temp/staff_base.html' %}
{% block base %}


<!DOCTYPE html>
<html>
<head>
	<title>study</title>
    <style>
        button{
            background-color: #06213F;
            border: 1px solid blue;
        }
    </style>
</head>
<body>
<center><h3>Upload study meterial</h3>

		<form method="post" ENCTYPE="multipart/form-data">
            {% csrf_token %}
			<table>
				<tr>
					<td>Description</td>
					<td><input type="text" name="study" placeholder="des" class="form-control" required></td>
                </tr>
                <tr>
					<td>Faculty name</td>
					<td><input type="text" name="Facultyname" placeholder="Facultyname" class="form-control" required></td>
                </tr>
                <tr>
                	<tr>
					<td><h4>Upload file</h4></td>
					<td><input type="file" name="uploadfile"></td>
                    </tr>
                    <tr>
				     <td><input type="submit" value="Upload"></td>
			        </tr>
			</table>
		</form>


</center>
<center>
    <button><a href="/study_meterial/post_view_study_meterial/" style="color: white" > DELETE</a></button>

</center>
</body>
</html>
{% endblock %}