<!DOCTYPE html>
<html>
<head>
	<title>view study meterial</title>
</head>
<body>
<center>
	<h2> Student study meterial</h2>
     <table border="2">
	   <tr>
		<th>study meterial name</th>
		<th>stydy meterial</th>
		<th>faculty name</th>

	   </tr>
  {% for i in sss %}
	<tr>
		<td>{{i.study_materialdes }}</td>
{#		<td>{{ i.study_material }}</td>#}
          <td><a href="/static/{{ i.activities }}"><img src="/static/{{ i.activities }}" width="100" height="100"></a></td>
		<td>{{ i.faculty.faculty_name }}</td>


	</tr>
	{% endfor %}
</table>
</center>
</body>
</html>