{% extends 'temp/coadmin_base.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title>view course</title>
    <style>

        h2,th,td{
            color: black;
        }
        body{
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
<center>
	<h1>view course</h1>
<table border="2">

	<tr>
		<th>course</th>
		<th>duration</th>
	</tr>
   {% for i in ccc %}
	<tr>
		<td>{{ i.course.course }}</td>
		<td>{{ i.course.course_duration }}</td>
     <td><a href="/course/aaaaaa/{{ i.select_course_id}}">DELETE</a> </td>
	</tr>
    {% endfor %}

    </table>
</center>
</body>
</html>
{% endblock %}