
{% extends 'temp/staff_base.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>notification</title>
    <style>

        h2,th,td{
            color: black;
        }
        body{
            background-color:aliceblue;
        }
    </style>
</head>
<body>
<center>
	<h2>notification</h2>
     <table border="2">
	   <tr>
		<th>notification</th>

	   </tr>
   {% for i in n %}
	<tr>
		<td>{{ i.notification }}</td>

		
		
	</tr>
	{% endfor %}
</table>
</center>
</body>
</html>
{% endblock %}